body {
  background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Hyades.jpg/300px-Hyades.jpg");
  background-repeat: no-repeat;
  background-size:300% 300%;
  padding:0;
  margin: 0;
  overflow: hidden;
}

#ocean {
  top: 300px;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:#0A0A3F;
  z-index: 120;
}

#wholeship {
  top: 200px;
  height: 105px;
  position: relative;
  width: 450px;
}

#ship-container {}

#ship-container div {
  position: absolute;
}

.hull {
  border-right: 10px solid transparent;
  border-top: 25px solid #cc3333;
  border-left: 16px solid transparent;
  width: 350px;
  height: 0px;
  top: 80px;
  left: 50px;
}

.hull:after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: -23px;
  border-right: 10px solid transparent;
  border-top: 17px solid #333333;
  border-left: 7px solid transparent;
  width: 376px;
  height: 0px;
}

.hull:before {
  content: '';
  display: block;
  position: absolute;
  top: -43px;
  left: -24px;
  border-right: 1px solid transparent;
  border-top: 3px solid #0066cc;
  border-left: 1px solid transparent;
  width: 393px;
  height: 0px;
}

.hull-top {
  width: 395px;
  height: 5px;
  background: #333333;
  top: -48px;
  left: -25px;
}

.hull-top:after {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 20px;
  background: red;
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  background: #333333;
  right: -4px;
}

.porthole {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 12px;
  z-index: 2;
}

.p1 {
  left: 25px;
}

.p2 {
  left: 50px;
}

.p3 {
  left: 75px;
}

.p4 {
  left: 100px;
}

.p5 {
  left: 125px;
}

.p6 {
  left: 150px;
}

.p7 {
  left: 175px;
}

.p8 {
  left: 200px;
}

.p9 {
  left: 225px;
}

.p10 {
  left: 250px;
}

.p11 {
  left: 275px;
}

.p12 {
  left: 300px;
}

.p13 {
  left: 325px;
}

.p14 {
  left: 350px;
}

.compartments-lower {
  top: 46px;
  left: 55px;
  background-color: #cccccc;
  border-top: solid 1px #999;
  height: 10px;
  width: 350px;
  position: absolute;
  z-index: 99;
}

.door {
  width: 5px;
  height: 7px;
  background: #999999;
  border-radius: 50% 50% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  top: 3px;
  z-index: 2;
}

.d1 {
  left: 25px;
}

.d2 {
  left: 50px;
}

.d3 {
  left: 75px;
}

.d4 {
  left: 100px;
}

.d5 {
  left: 125px;
}

.d6 {
  left: 150px;
}

.d7 {
  left: 175px;
}

.d8 {
  left: 200px;
}

.d9 {
  left: 225px;
}

.d10 {
  left: 250px;
}

.d11 {
  left: 275px;
}

.d12 {
  left: 300px;
}

.d13 {
  left: 325px;
}

.compartments-upper {
  top: 34px;
  left: 65px;
  background-color: #cccccc;
  border-top: solid 2px #999;
  height: 10px;
  width: 325px;
  position: absolute;
  z-index: 99;
}

.cph {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #999999;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 2px;
  z-index: 2;
}

.cp1 {
  left: 27px;
}

.cp2 {
  left: 51px;
}

.cp3 {
  left: 76px;
}

.cp4 {
  left: 102px;
}

.cp5 {
  left: 128px;
}

.cp6 {
  left: 152px;
}

.cp7 {
  left: 177px;
}

.cp8 {
  left: 202px;
}

.cp9 {
  left: 227px;
}

.cp10 {
  left: 252px;
}

.cp11 {
  left: 277px;
}

.cp12 {
  left: 302px;
}

.smokestack {
  top: 0px;
  background-color: #ff9933;
  border-top: solid 4px #333;
  height: 30px;
  width: 15px;
  position: absolute;
  z-index: 99;
}

.ss1 {
  left: 100px;
}

.ss2 {
  left: 175px;
}

.ss3 {
  left: 275px;
}

.ss4 {
  left: 350px;
}

#ship-container {
  -webkit-animation: 5s ease-in-out 0s normal none infinite rockship;
  -moz-animation: 5s ease-in-out 0s normal none infinite rockship;
}

#wholeship {
  -webkit-animation: moveship 60s linear infinite;
  -moz-animation: moveship 60s linear infinite;
  -o-animation: moveship 60s linear infinite;
}

@keyframes moveship {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

@keyframes rockship {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-.25deg);
  }
  20% {
    -webkit-transform: rotate(-.5deg);
  }
  30% {
    -webkit-transform: rotate(-.75deg);
  }
  40% {
    -webkit-transform: rotate(-.5deg);
  }
  50% {
    -webkit-transform: rotate(-.25deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(.25deg);
  }
  80% {
    -webkit-transform: rotate(.5deg);
  }
  90% {
    -webkit-transform: rotate(.25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}



.smoke {
  -webkit-animation-name: smoke;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 1);
  bottom: 35px;
  left:0;
  border-radius: 10px;
  height: 15px;
  width: 15px;
}

@-webkit-keyframes smoke {
  0% {
    bottom: 30px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 30px;
    bottom: 120px;
    left:-50px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    bottom: 260px;
    left:-100px;
  }
}

.smoke1 {
  -webkit-animation-delay: 1600ms;
  -webkit-animation-duration: 3s;
}

.smoke2 {
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 3s;
}

.smoke3 {
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 3s;
}

.smoke4 {
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 3s;
}
